.board {
  border-color: dimgray;
  border-style: solid;
  border-width: 1px;
  aspect-ratio: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: calc(100vw - 8rem);
  max-height: calc(100vh - 1rem);

  &__square {
    width: calc(100% / 15);
    border-color: dimgray;
    border-style: solid;
    border-width: 1px;

    &:after {
      content: '';
      padding-top: calc(100% / 15);
    }
  }
}

@media (min-height: 480px) {
  .board {
    max-width: calc(100vw - 1rem);
    max-height: calc(100vh - 8rem);
    width: 100%;
    margin-top: 0;
  }
}
