.letters {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.4rem;

  &__letter {
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    width: 4.2rem;
    height: 4rem;
    font-size: 2.2rem;
    color: rgba(255,255,255,0.3);
    text-shadow :0 -1px 0 black;
    line-height: 4rem;
    text-align: center;
    border-radius: 6px 6px 8px 8px;
    background-color: var(--letter-primary-color);
    box-shadow: 0 8px 0 var(--letter-secondary-color);
    transform-origin: bottom center;
    transition: all 0.1s ease-out, filter 0.3s ease-in-out;

    transform: rotateX(30deg);

    &__score {
      position: absolute;
      font-size: 0.7rem;
      line-height: 0.7rem;
      bottom: 0.3rem;
      right: 0.3rem;
    }

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      transform: scale(1.2, 1.2) rotateX(0deg);
      box-shadow: 0 2px 8px black;
    }
  }
}
