.letters {
  height: 100%;
  width: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.2rem;

  &__letter {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 2rem;
    max-width: 4rem;
    height: calc(100% / 7);
    min-height: 2rem;
    max-height: 4rem;
    aspect-ratio: 1 / 0.95;
    font-size: 8vh;

    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 -1px 0 black;
    text-align: center;
    border-radius: 4px 4px 6px 6px;
    background-color: var(--letter-primary-color);
    box-shadow: 0 8px 0 var(--letter-secondary-color);

    /* Pop animation on click */
    transform-origin: bottom center;
    transform: rotateX(30deg);
    transition: border-radius 0.1s ease-out, box-shadow 0.1s ease-out,
      transform 0.1s ease-out, filter 0.1s ease-in-out;

    /* Start appear slidein animation */
    animation: slidein-from-bottom 0.3s ease-out;

    &__score {
      position: absolute;
      bottom: 0.1em;
      right: 0.3em;
      font-size: 0.4em;
    }

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      position: relative;
      border-radius: 5px;
      transform: scale(1.2, 1.2) rotateX(0deg);
      filter: brightness(1.2) drop-shadow(0 3px 8px black);
      box-shadow: 0 2px 0 var(--letter-secondary-color);
      z-index: 1;
    }
  }
}

@media (min-height: 480px) {
  .letters {
    flex-direction: row;
    width: 100%;
    height: initial;
    margin-right: 0;

    &__letter {
      width: calc(100% / 7);
      height: auto;
      margin-top: -0.5rem;
      font-size: 2.2em;

      /* Start appear slidein animation */
      animation: slidein-from-right 0.3s ease-out;
    }
  }
}

/* slideIn from right animation on new letter for player */
@keyframes slidein-from-right {
  0% {
    position: absolute;
    left: 200%;
    opacity: 0;
  }

  100% {
    position: relative;
    left: 0%;
    opacity: 1;
  }
}

/* slideIn from bottom animation on new letter for player */
@keyframes slidein-from-bottom {
  from {
    position: absolute;
    top: 200%;
  }

  to {
    position: relative;
    top: 0%;
  }
}
